# Import requirements

In [1]:
import urllib.request
from bs4 import BeautifulSoup
import pandas as pd
import time
import pickle
from tqdm import tqdm_notebook as tqdm
import urllib.parse
import pandas as pd
import os

# Define functions

In [2]:
# https://www.stockwatch.com.cy/el/markets/cse/closing-prices/2019-09-25

def ScrapUrl(url='https://www.zougla.gr/money/stockmarket/29'):
    headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/75.0.3770.142 Safari/537.36'}    
    req = urllib.request.Request(url,headers=headers)
    response = urllib.request.urlopen(req)
    soup = BeautifulSoup(response,'html5lib')
    shares_table_soup = soup.find('div', attrs=({'class':'shares-list-container'}))
    
    table_rows = shares_table_soup.find_all('tr')

    res = []
    for tr in table_rows:
        td = tr.find_all('td')
        row = [tr.text.strip() for tr in td if tr.text.strip()]
        if row:
            res.append(row)
    df = pd.DataFrame(res, columns=['Μετοχή', 'Τιμή', 'Διαφορά', '% Διαφ.', 'Ελάχ. τιμή', 'Μέγ. τιμή', 'Όγκος', 'Τζίρος'])
    return df

In [3]:
data = ScrapUrl()

In [4]:
data.describe()

       Μετοχή    Τιμή Διαφορά % Διαφ. Ελάχ. τιμή Μέγ. τιμή Όγκος   Τζίρος
count     176     107     107     107        107       107   107      107
unique    176      97      23      81         97        91   107      105
top     ΠΗΓΑΣ  0,16 €  0,00 €  0,00 %     0,05 €    0,83 €   200  27,00 €
freq        1       2      31      24          3         2     1        2

In [5]:
data.dropna(inplace=True)

In [6]:
data.sample(10)

,Μετοχή,Τιμή,Διαφορά,% Διαφ.,Ελάχ. τιμή,Μέγ. τιμή,Όγκος,Τζίρος
8,ΑΛΦΑ,"1,71 €","0,02 €","1,18 %","1,65 €","1,72 €",4051081,"6859962,00 €"
144,ΠΕΤΡΟ,"7,25 €","0,00 €","0,00 %","7,15 €","7,25 €",740,"5347,00 €"
19,ΑΤΤΙΚΑ,"1,26 €","0,02 €","1,21 %","1,23 €","1,26 €",54695,"68333,00 €"
151,ΠΡΟΦ,"3,73 €","0,03 €","0,81 %","3,57 €","3,73 €",35423,"129128,00 €"
147,ΠΛΑΙΣ,"4,03 €","-0,02 €","-0,49 %","3,97 €","4,06 €",4011,"16113,00 €"
89,ΚΡΙ,"4,97 €","0,02 €","0,40 %","4,97 €","5,02 €",6057,"30171,00 €"
5,ΑΕΓΕΚ,"0,05 €","0,00 €","0,00 %","0,05 €","0,05 €",10283,"519,00 €"
75,ΚΑΜΠ,"1,16 €","0,01 €","0,43 %","1,14 €","1,18 €",12279,"14235,00 €"
169,ΦΟΡΘ,"0,36 €","0,01 €","2,29 %","0,35 €","0,40 €",12040,"4271,00 €"
92,ΛΑΒΙ,"0,31 €","0,01 €","4,67 %","0,30 €","0,33 €",2700,"847,00 €"

In [7]:
int_vals = lambda x: int(x.replace('€','').replace('%','').replace(',','.').strip())
float_vals = lambda x: float(x.replace('€','').replace('%','').replace(',','.').strip())

In [8]:
data['Τιμή'] = data['Τιμή'].apply(float_vals)
data['Διαφορά'] = data['Διαφορά'].apply(float_vals)
data['% Διαφ.'] = data['% Διαφ.'].apply(float_vals)
data['Ελάχ. τιμή'] = data['Ελάχ. τιμή'].apply(float_vals)
data['Μέγ. τιμή'] = data['Μέγ. τιμή'].apply(float_vals)
data['Τζίρος'] = data['Τζίρος'].apply(float_vals)

In [9]:
data['Όγκος'] = data['Όγκος'].apply(int_vals)

In [10]:
data.describe()

,Τιμή,Διαφορά,% Διαφ.,Ελάχ. τιμή,Μέγ. τιμή,Όγκος,Τζίρος
count,107.000000,107.000000,107.000000,107.000000,107.000000,1.070000e+02,1.070000e+02
mean,3.959720,0.006262,0.120935,3.908785,3.995701,2.589540e+05,5.676090e+05
std,7.036786,0.075192,2.591536,6.993367,7.071295,1.130895e+06,1.702920e+06
min,0.020000,-0.200000,-18.930000,0.020000,0.020000,5.000000e+00,2.000000e+00
25%,0.470000,-0.010000,-0.520000,0.465000,0.485000,1.496500e+03,1.071000e+03
50%,1.560000,0.000000,0.000000,1.530000,1.580000,1.204000e+04,1.611300e+04
75%,4.835000,0.020000,1.205000,4.800000,4.890000,3.605600e+04,1.014125e+05
max,55.200000,0.380000,6.670000,55.000000,55.400000,1.053084e+07,9.195632e+06

In [11]:
data.sample(10)

    Μετοχή   Τιμή  Διαφορά  % Διαφ.  Ελάχ. τιμή  Μέγ. τιμή    Όγκος     Τζίρος
169   ΦΟΡΘ   0.36     0.01     2.29        0.35       0.40    12040     4271.0
8     ΑΛΦΑ   1.71     0.02     1.18        1.65       1.72  4051081  6859962.0
59   ΕΥΔΑΠ   7.80     0.00     0.00        7.75       7.93    23896   187365.0
65    ΕΧΑΕ   4.71    -0.02    -0.42        4.70       4.78   162663   769610.0
130    ΟΛΘ  28.60    -0.20    -0.69       28.60      28.90      975    27945.0
50    ΕΛΤΚ   3.30     0.00     0.00        3.30       3.30     2745     9059.0
14    ΑΣΚΟ   3.10     0.00     0.00        3.10       3.20     1553     4872.0
101    ΛΥΚ   1.56     0.01     0.32        1.53       1.58    16453    25598.0
26    ΒΙΟΤ   0.06     0.00     0.00        0.05       0.06      509       27.0
29    ΒΥΤΕ   1.12    -0.01    -0.88        1.10       1.14    30812    34239.0

In [12]:
updown = lambda x: 1 if x>0 else (0 if x==0 else -1)
data['UpDown'] = data['Διαφορά'].apply(updown)

In [13]:
data.sample(10)

,Μετοχή,Τιμή,Διαφορά,% Διαφ.,Ελάχ. τιμή,Μέγ. τιμή,Όγκος,Τζίρος,UpDown
60,ΕΥΠΙΚ,5.20,-0.14,-2.62,5.18,5.30,12051,63230.0,-1
152,ΣΑΡ,8.10,0.06,0.75,7.99,8.17,12788,103642.0,1
171,ΦΡΙΓΟ,0.22,0.01,4.76,0.22,0.22,1085611,238834.0,1
13,ΑΡΑΙΓ,8.08,0.04,0.50,7.97,8.18,21733,174651.0,1
75,ΚΑΜΠ,1.16,0.01,0.43,1.14,1.18,12279,14235.0,1
67,ΙΑΤΡ,2.21,0.00,0.00,2.16,2.23,6485,14155.0,0
114,ΜΠΕΛΑ,17.24,0.35,2.07,16.76,17.34,120896,2072496.0,1
136,ΟΤΕ,12.81,0.01,0.08,12.69,12.92,611079,7845334.0,1
82,ΚΛΜ,0.90,0.01,1.12,0.89,0.92,14567,13081.0,1
53,ΕΠΙΛΚ,0.25,0.00,0.00,0.25,0.25,1531,380.0,0